.vs
.vscode
bin
obj
packages
release/_PROGRAM/datafiles
release/_PROGRAM/teacups
release/_PROGRAM/de
release/_PROGRAM/runtimes
release/*.txt
release/test-output
release/logfiles
src/TestResults
src/DroughtDataDownloaderV2/historicalData/
release/_PROGRAM/historicalData/
.env
R-workflow/hydroshare/
/.claude
python-workflow/.DS_Store
.DS_Store
python-workflow/.DS_Store
python-workflow/.DS_Store
R-workflow/.DS_Store
R-workflow/data/.DS_Store
src/.DS_Store
src/CalculateStatistics/.DS_Store
